@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Figtree', sans-serif;
}

.react-aria-TextField {
  @apply text-neutral-900 w-full;

  .react-aria-Label {
    display: block;
    @apply mb-1 text-sm font-bold transition-colors aria-[disabled="true"]:text-neutral-500;
  }

  &:focus-within .react-aria-Label {
    @apply text-gray-700;
  }

  &[data-touched][data-invalid="true"] .react-aria-Label,
  [data-touched] &[data-invalid="true"] .react-aria-Label {
    @apply text-red-500;
  }
}

.react-aria-TextField {
  &:focus-within .react-aria-Input {
    @apply border-gray-500;
    @apply ring ring-gray-400/20;
  }

  &:focus-within[data-invalid="true"][data-touched] .react-aria-Input,
  [data-touched] &:focus-within[data-invalid="true"] .react-aria-Input {
    @apply ring-red-400/20;
  }

  .react-aria-Input {
    @apply h-10;
  }

  .react-aria-Input {
    display: block;
    outline: none;
    @apply w-full px-3 py-2;
    @apply border border-neutral-400 rounded-md;
    @apply text-base font-normal sm:text-sm;
    @apply placeholder:text-neutral-700 transition-all;
  }
}

.react-aria-TextField[data-adornment-start] {
  .react-aria-Input {
    @apply pl-10;
  }
}

.react-aria-FieldError {
  display: none;
}

[data-touched] .react-aria-FieldError {
  @apply inline-block text-red-500 mt-1 text-xs;
}


[data-touched] .react-aria-Input[data-invalid="true"] {
  @apply border-red-500;
}
